{% render 'partials/head.liquid', title: title %}
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/instruments">Overzicht</a></li>
    <li><a href="/instruments/new">Instrument toevoegen</a></li>
  </ul>
</nav>
{%  render 'partials/foot.liquid' %}