{% render 'partials/head.liquid', title: title %}
{% include 'partials/header.liquid', path: path %}

<dl class="instrument-status">

  <div>
    <dt class="label status-available">Beschikbaar</dt>
    <dd>
      <span class="aantal-instrumenten"></span><!--word dynamaisch-->
      <span class="percentage-instrumenten"></span> <!--word berekend-->
    </dd>
  </div>

  <div>
    <dt class="label status-repair">In reparatie</dt>
    <dd>
      <span class="aantal-instrumenten"></span><!--word dynamaisch-->
      <span class="percentage-instrumenten"></span> <!--word berekend-->
    </dd>
  </div>
  
  <div>
    <dt class="label status-borrowed">Uitgeleend</dt>
    <dd>
      <span class="aantal-instrumenten"></span> <!--word dynamaisch-->
      <span class="percentage-instrumenten"></span> <!--word berekend-->
    </dd>
  </div>

  <div>
    <dt class="label status-unknown">Uitgeleend</dt>
    <dd>
      <span class="aantal-instrumenten"></span> <!--word dynamaisch-->
      <span class="percentage-instrumenten"></span> <!--word berekend-->
    </dd>
  </div>

</dl>

{%  render 'partials/foot.liquid' %}
