/* ------------ Partials -----------------------------------*/
/*head*/
/*search-bar*/
/*foot*/
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(70, 22, 107, 0.2);
    img{
        height: 7rem;
        padding: 1em;
    }
    nav{
        ul{
            display: flex;
            justify-content: space-between;
            li{
                font-size: 1.5rem;
                color: var(--color-primary);
                padding: 1em;
                a{
                    text-decoration: none;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -0.3rem;
                        width: 100%;
                        height: 0.2rem;
                        transform: scaleX(0);
                        background-color: var(--color-primary);
                        transform-origin: left;
                        transition: transform 0.3s ease;
                    }

                    &:hover::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}


.active{
    color: red;
    background-color: blue;
}

/* ------------ Index pagina-------------------------------*/
/* ------------ instrument_add pagina----------------------*/
/* ------------ Instrument_overview pagina-----------------*/
.overview-nav{
    ul{
       display: flex; 
       justify-content: space-evenly;
       li{
        padding: 1rem;
       }
    }  
}

.instrument-overview {
    width: 100%;
    border-collapse: collapse;
    caption{
        padding: 1rem;
        font-size: 1.5rem;
    }
    thead {
        background-color: var(--color-neutral-100);
    }
    th {
        font-weight: 600;
    }
    th, td {
        padding: 0.75rem;
        text-align: left;
        border-bottom: 1px solid var(--color-neutral-300);
    }
    tbody tr:hover {
        background-color: var(--color-primary);
    }
}


/* ------------ Instrument_detail pagina-------------------*/
